.burgeer-container {
  display: inline-block;
  cursor: pointer;
  color: var(--primary-color);
  background-color: transparent;
  outline: none;
  border: 0;
}

.burgeer-container:hover {
  color: var(--secondary-color);
}

.bar1,
.bar2,
.bar3 {
  background-color: currentColor;
  width: 24px;
  height: 2px;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}
