.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 1.5em 0;
}

.nav-list > li + li {
  margin-left: 1.5em;
}

.nav-list > li:last-child {
  padding-right: 1.5em;
}

.nav-list > li > a {
  display: block;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 2px transparent;
  transition: border 0.1s linear;
  font-size: 1.5em;
}

.nav-list > li > a:hover,
.nav-list > li > a:focus {
  color: var(--secondary-color);
}

.nav-list > li > a:hover,
.nav-list > li > a:focus,
.nav-list > li > a.active {
  border-bottom: 2px solid var(--secondary-color);
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 600px) {
  .desktop-only {
    display: block;
  }
}
