.contact-background {
  width: 100%;
  height: 100%;
  transform: scale(1);
  background-image: url("../images/contact.jpg");
  background-position: center;
  background-size: cover;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  padding: 10em 1em;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.contact-content > * {
  flex: 1;
  min-width: 400px;
  margin: 0.5em;
}

.contact-title {
  font-size: 3rem;
  letter-spacing: -0.025px;
  margin-top: 0;
}

.contact-content p {
  color: #999;
  font-family: montserrat, Sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.contact-content > form input:not([type="checkbox"]):not([type="radio"]) {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.9428;
  text-transform: none;
  width: 100%;
  margin: 0;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease-out;
  color: #fff;
  border: none;
  border-radius: 0;
  outline: 0;
  background-color: #2f2f2f;
  box-shadow: 0 0 2.08333rem rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
}

.contact-content > form textarea {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.9428;
  text-transform: none;
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease-out;
  color: #fff;
  border: none;
  border-radius: 0;
  outline: 0;
  background-color: #2f2f2f;
  box-shadow: 0 0 2.08333rem rgba(0, 0, 0, 0.5);
}

.contact-content > form button {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.5;
  text-transform: none;
  color: var(--color-1);
  background-color: var(--color-2);
  padding: 1em 2em;
  display: inline-flex;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  border: none;
  outline: 0;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2.08333rem rgba(0, 0, 0, 0.5);
  border: 1px solid #2f2f2f;
}
